# Node modules
node_modules/

.nvmrc

# Output of test results
results/

# Log files
*.log

# OS related
.DS_Store

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Git
.github
.gitignore

# Visual Studio Code
.vscode/

# Debug files
debug.js
debug.py
