# Node modules
node_modules/

# Cypress
cypress/screenshots/
cypress/videos/

# Output of test results
results/

# Environment variables
.env

# Log files
*.log

# Output of npm or yarn
package-lock.json
yarn-error.log

# OS related
.DS_Store

# Visual Studio Code
.vscode/

# Debug files
debug.js
debug.py
